<!DOCTYPE html>
<html>
	<head>
		<title>About US</title>
		<link rel="stylesheet" href="/public/css/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
	</head>
	<body>
		<%- include("./partials/header.ejs") %>
		<div class="articles">			
			<p>CCI Grads is a student organization for all graduate students in the College of Computing and Informatics (CCI) at the University of North Carolina at Charlotte. It is chartered under Graduate & Professional Student Government (GSPG), a member of the Student Government Association.</p>
			<p>CCI Grads was formed to promote scientific activities related to Information Technology and to create a friendly atmosphere where graduate students of all backgrounds can gather. Some of our primary goals include closing the social and communication gap between graduate students among different departments and research labs as well as bringing graduate students and faculty together for social activities. Moreover, CCI Grads aims to further its members' knowledge and experience by exposing them to industry leaders as well as academic resources both within and outside of UNC Charlotte.</p>
			<p>CCI Grads is open to all graduate students, particularly those in the CCI. Undergraduate students can also participate as non-voting members. To keep up on the latest activity, join our Google Group.</p>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>