<!DOCTYPE html>
<html>
	<head>
		<title>Contact US</title>
		<link rel="stylesheet" href="/public/css/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
	</head>
	<body>
		<%- include("./partials/header.ejs") %>
		<div class="articles">			
			<p>9201 University City Blvd</p>
			<p>Woodward Hall 306</p>
			<p>Charlotte, NC 28223</p>
			<p>United States</p>
			<p>Contact Email: ccigrads@uncc.edu</p>
			<p>Phone Number: 980-123-4567</p>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>