<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="/public/css/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
	</head>
	<body>
		<%- include("./partials/header.ejs") %>
		<%- include("./partials/message.ejs") %>
		<div class="articles">
			<h3>College of Computing and Informatics Graduate Students.</h3>
			<p>CCI Grads exists to promote scientific activities related to Information Technology and to create a friendly atmosphere where graduate students of all backgrounds can gather. Some of our primary goals include closing the social and communication gap between graduate students among the different departments and research labs as well as bringing graduate students and faculty together for social activities.</p>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>