<div class="header">
			<a href="/"><img src="/public/images/logo.jpg" height="50" alt="Logo"></a>
			<div class="header-center">
				<a href="/"><h2>CCI Grads</h2></a>
			</div>
			<div class="header-right">
				<%if(user) {%>
				<a href="/events/createConnection">Create a New Event</a>
				<a href="/events/savedConnections">Saved Events</a>
				<a href="/users/logout">Logout</a>
				<%} else {%>
					<a href='/users/signup'>Sign Up</a> 
					<a href='/users/login'>Login</a> 
			<%}%> 			
			</div>
			<div class="header-bottom">
				<a href="/events/getAllConnections">All Events</a>
				<div class="header-bottom-right"> 
					<%if(user) {%>					
					<p>Welcome <%=user.name %></p>
					<%} %>
				</div>
			</div>
</div>