<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Create Connection</title>
</head>

<body >
    <%- include('../partials/header.ejs')%>
    <%- include('../partials/message.ejs')%>
    <div class="login"> 
        <form action="/events/saveConnection" method="POST">
                <label for="connectionName">Connection Name</label><br>
                <input type="text" id="connectionName" name="connectionName" ><br>

                <label for="connectionTopic">Connection Topic</label><br>
                <input type="text" id="connectionTopic" name="connectionTopic" ><br>

                <label for="details">Details</label><br>
                <input type="text" id="details" name="details" ><br>

                <label for="date">Date</label><br>
                <input type="text" id="date" name="date" ><br>

                <label for="startingTime">Time</label><br>
                <input type="time" id="startingTime" name="startingTime" ><br>

                <label for="endingTime">Time</label><br>
                <input type="time" id="endingTime" name="endingTime" ><br>

                <label for="hostName">Host Name</label><br>
                <input type="text" id="hostName" name="hostName" ><br>

                <label for="image">ImageURL</label><br>
                <input type="text" id="image" name="image" ><br>               

                <label for="location">Location</label><br>
                <input type="text" id="location" name="location"><br>

                <input type="submit" value="Submit">
        </form>
    </div>
    <%- include('../partials/footer.ejs')%>
</body>


</html>